<div class="container w-50 mt-5 text-center">
  <div class="text-center display-3 m-3 text-white">
    Word Limit:{{limit}}
  </div>

  <input class="slider form-control-range" min="1" max="50" value="{{limit}}" type="range"
    (change)="handelSlideChange($event.target.value)" />
  <button class="btn btn-info" (click)="generate()">Genrate Words</button>
  <span>

    <button class="btn btn-warning" (click)="generat_country()">Country names</button>

  </span>

  <div *ngIf="words" class="card card-body">
    <p class="display-4">
      {{words}}
    </p>
  </div>
</div>
